@model QuotesParables.Models.Favorite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Favorite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogonAccount.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogonAccount.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quote.QuoteText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quote.QuoteText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuoteCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
