@using QuotesParables.Models
@using QuotesParables.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quotes And Parables</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
</head>
@{
    int securityLevelInt = 1;
    ViewBag.context = myGlobals.CurrentContext;
    if (HttpContext.Current.Session["CurrentUser"] != null)
    {
        var user = (LogonAccount)HttpContext.Current.Session["CurrentUser"];
        ViewBag.User = user;
        ViewBag.SecurityLevel = user.SecurityLevel;
        securityLevelInt = int.Parse(ViewBag.SecurityLevel);
    }
}
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Quotes", "Index", "Quotes", new { area = "" },new { @class = "navbar-brand" })
                @{
                    if (securityLevelInt > 1)
                    {
                        @Html.ActionLink("Update Quotes", "UpdateList", "Quotes", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    if (securityLevelInt > 3)
                    {
                        @Html.ActionLink("Categories", "Index", "Categories", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("QuoteTypes", "Index", "QuoteTypes", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Favorites", "Index", "Favorites", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Accounts", "Index", "LogonAccounts", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Insert", "InputQuotes", "Quotes", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Duplicates", "FindDuplicates", "Quotes", new { area = "" }, new { @class = "navbar-brand" })
                        }
                    if (securityLevelInt == 1)
                    {
                        @Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    else
                    {
                        @Html.ActionLink("Log Off", "LogOff", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                }
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li></li>
                </ul>
            </div>
        </div>
    </nav>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @{
                            <li>@Html.ActionLink("Quotes", "Index", "Quotes")</li>
                            if (securityLevelInt > 1)
                            {
                                <li>@Html.ActionLink("Update Quotes", "UpdateList", "Quotes")</li>
                            }
                            if (securityLevelInt > 3)
                            {
                                <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                                <li>@Html.ActionLink("QuoteTypes", "Index", "QuoteTypes")</li>
                                <li>@Html.ActionLink("Favorites", "Index", "Favorites")</li>
                                <li>@Html.ActionLink("Accounts", "Index", "LogonAccounts")</li>
                                <li>@Html.ActionLink("Insert", "InputQuotes", "Quotes")</li>
                                <li>@Html.ActionLink("Duplicates", "FindDuplicates", "Quotes")</li>
                            }
                            if (securityLevelInt == 1)
                            {
                                <li>@Html.ActionLink("Login", "Login", "Home")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Log Off", "LogOff", "Home", null, null)</li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @if (ViewBag.ErrorMessages != null && ViewBag.ErrorMessages.Count > 0)
        {
            foreach (string msg in ViewBag.ErrorMessages)
            {
                <h2red>@msg</h2red><br />
            }
        }
        @if (securityLevelInt > 1 || (ViewBag.OpenToPublic != null && ViewBag.OpenToPublic))
        {
            @RenderBody()
        }
        else
        {
            <div hidden>
                @RenderBody()
            </div>
            <h2red>You must logon</h2red><br />
            @Html.ActionLink("Click here to go to the quotes", "Index", "Quotes")
        }
        <hr />
        <footer>
            <p>&copy;@DateTime.Now.Year - Quotes And Parables - @ViewBag.DS - Context = @ViewBag.context</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
