@using QuotesParables.Models;
@using QuotesParables.ViewModels;
@using System.Text;

@model QuoteListViewModel


@{
    var catList = Model.CategoryDropDown;
    var typeList = Model.TypeDropDown;

    ViewBag.Title = "Index";
    ViewBag.OpenToPublic = true;
    //var mapPath = System.Web.Hosting.HostingEnvironment.MapPath("~/");
    using (Html.BeginForm("Index"))
    {
        @Html.AntiForgeryToken()
        <div class="SearchContainerHeader">
        </div>
        <div class="row">
            <div class="text-black col-md-4">
                <div class="searchHeaderDiv">Search:&nbsp;</div>
                <div class="SearchContainerHeader">
                    <div class="searchInputDiv">
                        <input type="Text" name="SearchText" id="SearchText" class="textInput" value="@Model.searchText">
                    </div>
                </div>
            </div>
            <div class="text-primary col-md-4">
                <div class="searchHeaderDiv">Cateogry:</div>
                <div class="SearchContainerHeader">
                    <select class="textInput" id="searchCategoryId" name="searchCategoryId">
                        <option selected="selected" value="0">All</option>
                        @foreach (var item in catList)
                        {
                            if (Model.searchCategoryId == item.CategoryId)
                            {
                                <option value="@item.CategoryId" selected="selected">@item.Description</option>
                            }
                            else
                            {
                                <option value="@item.CategoryId">@item.Description</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="text-black col-md-4">
                <div class="searchHeaderDiv">Type:</div>
                <div class="SearchContainerHeader">
                    <select class="textInput" id="searchQuoteTypeId" name="searchQuoteTypeId">
                        <option selected="selected" value="0">All</option>
                        @foreach (var item in typeList)
                        {
                            if (Model.searchQuoteTypeId == item.QuoteTypeId)
                            {
                                <option value="@item.QuoteTypeId" selected="selected">@item.QuoteTypeDescription</option>
                            }
                            else
                            {
                                <option value="@item.QuoteTypeId">@item.QuoteTypeDescription</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <input type="submit" value="Search" id="SUBMITSEARCH" name="SUBMITSEARCH" class="btn-info" />
                <input type="submit" value="Reset" id="resetSearchButton" class="btn-info" />
            </div>
        </div>
        string startRecord = (Model.pagingParameters.newStart + 1).ToString();
        int lastRecordInt;
        if (Model.pagingParameters.newStart + Model.pagingParameters.totalItemCount > Model.pagingParameters.itemsPerPage)
        {
            lastRecordInt = Model.pagingParameters.newStart + Model.pagingParameters.newCount;
        }
        else
        {
            lastRecordInt = Model.pagingParameters.newStart + Model.pagingParameters.totalItemCount;
        }
        string lastRecord = lastRecordInt.ToString();
        string totalRecords = Model.pagingParameters.totalItemCount.ToString();
        string nextDisabled = "Disabled=\"disabled\" ";
        string previoustDisabled = "Disabled=\"disabled\" ";
        string topDisabled = "Disabled=\"disabled\"";
        string bottomDisabled = "Disabled=\"disabled\"";

        if (Model.pagingParameters.nextIsActives)
        {
            nextDisabled = "";
        }
        if (Model.pagingParameters.topIsActives)
        {
            topDisabled = "";
        }
        if (Model.pagingParameters.previousIsActives)
        {
            previoustDisabled = "";
        }
        if (Model.pagingParameters.bottomIsActives)
        {
            bottomDisabled = "";
        }
        if (Model.pagingParameters.itemsPerPage <= Model.pagingParameters.totalItemCount)
        {
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <div class="submitButtonDiv">
                        &nbsp;&nbsp;@startRecord - @lastRecord of @totalRecords &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="TOP" name="TOP" id="TOP" class="btn-info" @topDisabled />&nbsp;&nbsp;
                        <input type="submit" value="NEXT" name="NEXT" id="NEXT" class="btn-info" @nextDisabled />&nbsp;&nbsp;
                        <input type="submit" value="PREV" name="PREVIOUS" id="PREVIOUS" @previoustDisabled class="btn-info" />&nbsp;&nbsp;
                        <input type="submit" value="BOT" name="BOTTOM" id="BOTTOM" @bottomDisabled class="btn-info" /><br />&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="SearchContainerHeader text-center">
                <div class="submitButtonDiv">
                    &nbsp;&nbsp;@startRecord - @lastRecord of @totalRecords
                </div>
            </div>

        }
<hr />
        @*<div class="row">
            <div class="col-md-4 shadow-lg rounded bg-light mb-3" style="height:325px">
                <div class="text-end p-3">
                    <a href="" class="btn btn-primary" target="_blank"
                       rel="noopener noreferrer">Edit</a>
                    <a href="" class="btn btn-primary text-end" target="_blank"
                       rel="noopener noreferrer">Delete</a>
                </div>
                <div>
                    <label>Author:&nbsp;</label><label class="text-primary">Bill Byrson</label>
                </div>
                <div>
                    <label>Category:&nbsp;</label><label class="text-primary">Say what</label>
                </div>
                <div class="bd-example d-md-flex h-50">
                    <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light  ">
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary">Like</button>
                    <label>&nbsp;&nbsp; No of Likes: 5</label>
                </div>
            </div>
            <div class="col-md-4 shadow-lg rounded bg-light mb-3" style="height:325px">
                <div class="text-end p-3">
                    <a href="" class="btn btn-primary" target="_blank"
                       rel="noopener noreferrer">Edit</a>
                    <a href="" class="btn btn-primary text-end" target="_blank"
                       rel="noopener noreferrer">Delete</a>
                </div>
                <div>
                    <label>Author:&nbsp;</label><label class="text-primary">Bill Byrson</label>
                </div>
                <div>
                    <label>Category:&nbsp;</label><label class="text-primary">Say what</label>
                </div>
                <div class="bd-example d-md-flex h-50">
                    <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light  ">
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                        Tell me, what is it you plan to do with your one wild and precious life?”
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary">Like</button>
                    <label>&nbsp;&nbsp; No of Likes: 5</label>
                </div>
            </div>
            <div class="col-md-4 shadow-lg rounded bg-light mb-3" style="height:325px">
                <div class="text-end p-3">
                    <a href="" class="btn btn-primary" target="_blank"
                       rel="noopener noreferrer">Edit</a>
                    <a href="" class="btn btn-primary text-end" target="_blank"
                       rel="noopener noreferrer">Delete</a>
                </div>
                <div>
                    <label>Author:&nbsp;</label><label class="text-primary">Bill Byrson</label>
                </div>
                <div>
                    <label>Category:&nbsp;</label><label class="text-primary">Say what</label>
                </div>
                <div class="bd-example d-md-flex h-50">
                    <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light  ">
                        Tell me, what is it you plan to do with your one wild and precious life?”
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary">Like</button>
                    <label>&nbsp;&nbsp; No of Likes: 5</label>
                </div>
            </div>
        </div>*@



        //---------------------------------------------------------
        //------------Set Security Level
        //---------------------------------------------------------
        int securityLevelInt = 1;
        if (HttpContext.Current.Session["CurrentUser"] != null)
        {
            var user = (LogonAccount)HttpContext.Current.Session["CurrentUser"];
            ViewBag.User = user;
            ViewBag.SecurityLevel = user.SecurityLevel;
            securityLevelInt = int.Parse(ViewBag.SecurityLevel);
        }
        StringBuilder sb = new StringBuilder();
        int counter = 0;
        string test = "";
        foreach (var item in Model.quotesList)
        {
            if (counter == 0)
            {
                sb.Append("        <div class=\"row\">");
            }
            sb.Append("            <div class=\"col-md-4 shadow-lg rounded bg-light mb-3\" style=\"height:325px\">"); sb.Append(Environment.NewLine);
            sb.Append("                <div class=\"text-end p-3\">"); sb.Append(Environment.NewLine);
            sb.Append("                    <a href=\"\" class=\"btn btn-primary\" target=\"_blank\""); sb.Append(Environment.NewLine);
            sb.Append("                       rel=\"noopener noreferrer\">Edit</a>"); sb.Append(Environment.NewLine);
            sb.Append("                    <a href=\"\" class=\"btn btn-primary text-end\" target=\"_blank\""); sb.Append(Environment.NewLine);
            sb.Append("                       rel=\"noopener noreferrer\">Delete</a>"); sb.Append(Environment.NewLine);
            sb.Append("                </div>"); sb.Append(Environment.NewLine);
            sb.Append("                <div>"); sb.Append(Environment.NewLine);
            sb.Append("                    <label>Author:&nbsp;</label><label class=\"text-primary\">"); sb.Append(Environment.NewLine);
            sb.Append(item.AuthorName); sb.Append(Environment.NewLine);
            sb.Append("                    </label>"); sb.Append(Environment.NewLine);
            sb.Append("                </div>"); sb.Append(Environment.NewLine);
            sb.Append("                <div>"); sb.Append(Environment.NewLine);
            sb.Append("                    <label>Category:&nbsp;</label><label class=\"text-primary\">"); sb.Append(Environment.NewLine);
            sb.Append(item.CategoryId); sb.Append(Environment.NewLine);
            sb.Append("                    </label>"); sb.Append(Environment.NewLine);
            sb.Append("                </div>"); sb.Append(Environment.NewLine);
            sb.Append("                <div class=\"bd-example d-md-flex h-50\">"); sb.Append(Environment.NewLine);
            sb.Append("                    <div class=\"overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light  \">"); sb.Append(Environment.NewLine);
            sb.Append(item.QuoteText); sb.Append(Environment.NewLine);
            sb.Append("                    </div>"); sb.Append(Environment.NewLine);
            sb.Append("                </div>"); sb.Append(Environment.NewLine);
            sb.Append("                <div>"); sb.Append(Environment.NewLine);
            sb.Append("                    <button type=\"button\" class=\"btn btn-primary\">Like</button>"); sb.Append(Environment.NewLine);
            sb.Append("                    <label>&nbsp;&nbsp; No of Likes: "); sb.Append(Environment.NewLine);
            sb.Append(item.Likes); sb.Append(Environment.NewLine);
            sb.Append("                    </label>"); sb.Append(Environment.NewLine);
            sb.Append("                </div>"); sb.Append(Environment.NewLine);
            sb.Append("            </div>"); sb.Append(Environment.NewLine);
            if (counter == 2)
            {
                sb.Append("            </div>");
                counter = 0;
            }
            else
            {
                counter++;
            }
            test = sb.ToString();
        }
        @Html.Raw(test);

        @*foreach (var item in Model.quotesList)
        {
            string headerOutput = "";
            headerOutput += sb.ToString();
            headerOutput += "<div class=\"containerHeader\">";

            if (securityLevelInt > 1)
            {
                //---------------------------------------------------------
                //------------Edit
                //---------------------------------------------------------
                headerOutput += "<div class= \"fieldValueDiv\"> ";
                headerOutput += "<a  class=\"editAnchor\" href=\"/Quotes/Edit/";
                headerOutput += item.QuoteId;
                headerOutput += "\" >Edit</a>";
                headerOutput += "</div>";
                //---------------------------------------------------------
                //------------Delete
                //---------------------------------------------------------
                headerOutput += "<div class=\"fieldValueDiv\">";
                headerOutput += "<a  class=\"editAnchor\" href=\"/Quotes/Delete/";
                headerOutput += item.QuoteId;
                headerOutput += "\" >Delete</a>";
                headerOutput += "</div>";
                //---------------------------------------------------------
                //------------Create
                //---------------------------------------------------------
                //@Html.ActionLink("Create New", "Create")
                headerOutput += "<div class=\"fieldValueDiv\">";
                headerOutput += "<a  class=\"editAnchor\" href=\"/Quotes/Create/";
                headerOutput += "\" >Create</a>";
                headerOutput += "</div>";
            }
            //---------------------------------------------------------
            //------------LIkes
            //---------------------------------------------------------
            //@Html.ActionLink("Create New", "Create")
            headerOutput += "<div class=\"fieldValueDiv\">";
            headerOutput += "<a  class=\"editAnchor\" href=\"/Quotes/Like/";
            headerOutput += item.QuoteId;
            headerOutput += "\" >Like This</a>";
            headerOutput += "</div>";
            //---------------------------------------------------------
            //------------Author
            //---------------------------------------------------------
            headerOutput += "<div class=\"fieldValueDiv\">";
            if (item.AuthorName == null || item.AuthorName.Trim().Length == 0)
            {
                headerOutput += "Author Unknown";
            }
            else
            {
                headerOutput += item.AuthorName;
            }
            headerOutput += "</div>";
            //---------------------------------------------------------
            //------------Type
            //---------------------------------------------------------
            headerOutput += "<div class=\"fieldValueDiv\">";
            headerOutput += item.QuoteType.QuoteTypeDescription;
            headerOutput += "</div>";
            //---------------------------------------------------------
            //------------Lkes
            //---------------------------------------------------------
            headerOutput += "<div class=\"fieldValueDiv\">";
            headerOutput += "No of Likes: " + item.Likes;
            headerOutput += "</div>";
            string categoryDisplay = Model.getCategoryText(item.CategoryId, item.CategoryId2, item.CategoryId3);
            if (categoryDisplay.Trim() != "")
            {
                headerOutput += "</div>";
                headerOutput += "<div class=\"containerHeader\">";
                //---------------------------------------------------------
                //------------Category
                //---------------------------------------------------------
                headerOutput += "<div class=\"fieldValueDiv\">";
                headerOutput += categoryDisplay;
                headerOutput += "</div>";
            }
            headerOutput += "</div>";
            @Html.Raw(headerOutput);
            //---------------------------------------------------------
            //------------Bottom blue line
            //---------------------------------------------------------
            string outputLine = "";
            @Html.Raw("<div class=\"containerBody\">");
            string currentLine = item.QuoteText.Replace(Environment.NewLine, "~").TrimEnd();
            string[] lines = currentLine.Split('~');
            foreach (string line in lines)
            {
                if (line.Trim() != "")
                {
                    outputLine = "<p class=\"textBodyDiv\">" + line + "</p>";
                    @Html.Raw(outputLine);
                }
            }
            @Html.Raw("</div>");
        }
        @Html.Raw("<div class=\"endDiv\"></div>");*@
        if (Model.pagingParameters.itemsPerPage <= Model.pagingParameters.totalItemCount)
        {
            <div class="SearchContainerHeader">
                <div class="submitButtonDiv">
                    <input type="submit" value="TOP" name="TOP" id="TOP" class="btn-info" @topDisabled />&nbsp;&nbsp;
                    <input type="submit" value="NEXT" name="NEXT" id="NEXT" class="btn-info" @nextDisabled />&nbsp;&nbsp;
                    <input type="submit" value="PREV" name="PREVIOUS" id="PREVIOUS" @previoustDisabled class="btn-info" />&nbsp;&nbsp;
                    <input type="submit" value="BOT" name="BOTTOM" id="BOTTOM" @bottomDisabled class="btn-info" /><br />&nbsp;&nbsp;
                </div>
            </div>
        }
    }

}
<script type="text/javascript">
    $("#resetSearchButton").click(function (event) {
        $("#SearchText").val("");
        $("#searchQuoteTypeId").val("0");
        $("#searchCategoryId").val("0");
        $("#SearchText").focus();
        return true;
    });
    $("#SearchText").focus();

    //document.getElementById("SearchText").focus();
    //document.getElementById('resetSearchButton').onclick = function () {
    //    document.getElementById("SearchText").value = "";
    //    document.getElementById("searchCategoryId").value = "0";
    //    document.getElementById("searchQuoteTypeId").value = "0";
    //};


</script>

